p {
  font-size: 14px;
  
}
body{
  background: #8ac38a;
  margin: 0;
  padding: 0;
  display: block;
}

header{
 background: #fff;
 color: #e6e6e6;
 margin: 10px 0;
 padding: 0 15px;
}

footer{
  padding: 20px;
  background-color: paleturquoise;
  min-height: 200px;
  text-align: center;
}

header .logo {
  background-image: url(./logo.png);
  background-size: cover;
  width: 178px;
  height: 87px;
  display: block;
  text-indent: -999;
  background-position-y: -26px;
}
.logo{
  background-color: blue
}
.logo{
  background-color: red
}
.logo-paijo{
  background-color: rebeccapurple;
}
.twitter{
  background-image: url(./twitter.jpg);
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}
#slideshow{
  width: 100%;
  height: 300px;
  background: #fff;
  position: relative;
}

#slideshow .box-besar{
  border: 1px solid #666;
  width: 50%;
  float: left;
  height: 100%;
}

#slideshow .box-kecil {
  border: 1px solid #666;
  float: right;
  width: 49.5%;
  height: 50%;
}
#search{
  background: #fff;
  padding: 10px;
  text-align: center;
  border: 1px solid #999;
}